<%- include('../includes/head') %>
<title>Welcome To My Shop</title>
</head>

<%- include('../includes/navbar') %>
<section class="form-container">
  <form action="/admin/add-item" method="POST">
    <input type="text" name="message" />
    <button type="submit" class="submit-button">Add Item</button>
  </form>
</section>
<%- include('../includes/end') %>