<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome To My Shop</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/admin/add-item">Add items</a></li>
      </ul>
    </nav>
    <section>
      <form action="/admin/add-item" method="POST">
        <input type="text" />
        <button type="submit">Add Item</button>
      </form>
    </section>
  </body>
</html>
